{
  "appName": "ftch-collab",
  "userGivenName": "ftch-collab",
  "destNamespace": "cc-smarsh-dev",
  "destServer": "ep-mt",
  "srcPath": "apps/ftch-collab/overlays/aws-us-west-2-cc-smarsh-dev",
  "srcRepoURL": "https://github.com/Smarsh/ep-cc-apps-argocd-deployments.git",
  "srcTargetRevision": "",
  "concoursePath": ""
}
