{
  "appName": "spomockserver",
  "userGivenName": "spomockserver",
  "destNamespace": "cc-smarsh-perf",
  "destServer": "ep-mt",
  "srcPath": "apps/perftools/spo/overlays/aws-us-west-2-cc-smarsh-perf",
  "srcRepoURL": "https://github.com/Smarsh/ep-cc-apps-argocd-deployments.git",
  "srcTargetRevision": "",
  "concoursePath": ""
}
