{
    "appName": "security-test",
    "userGivenName": "security-test",
    "destNamespace": "cc-smarsh-test",
    "destServer": "ep-mt",
    "srcPath": "apps/security/overlays/aws-us-west-2-cc-smarsh-test",
    "srcRepoURL": "https://github.com/Smarsh/ep-cc-apps-argocd-deployments.git",
    "srcTargetRevision": "",
    "concoursePath": "/pipelines"
}
